//GLOBAL VARIABLES

$primary-color :#1D3C56;
$secondary-color : #9CBBD7 ;
$primaryButton-colorOnHover: #0b2a44;


/*Accordion*/

$accordion-background :#F0F5F9;
$accordion-color :#444;
$accordion-background-hover :rgb(234, 243, 250);
$panel-background:white;
$accordionHeader-color:black;
$accordionHeader-fontsize:20px;

//InputStyles
$placeHolder-font-size : 14px;
$primaryBorder-color : #7DA0BD;
$inputFieldHeight: 40px; 
$text-areaFieldHeight: 80px; 

//autoComplete
$searchBar-background: white;
$searchBar-border-radius: 2px;
$searchBar-para-fontsize: 26px;
$searchBar-width:700px;

//BottonSlider
$swipeDownBtn-background:#ccc;
$swipeDownBtn-width:25%;
$swipeDownBtn-height:10px;
$swipeDownBtn-border-radius:50px;
$swipeAbleBottomSheet-background : #f4f4f4;

//Button


//$primaryButton-Color: #1d3c56;

//$secondaryButton-fontSize: 14px;
//$secondaryButtonColor: $primaryButton-Color;
//$secondaryButtonBorderColor: $primaryButton-Color;
//$secondaryBorderRadius : $BorderRadius;

//$search-btn-fontsize: 14px;
//$search-btn-color : white;
//$search-btn-border :#1890ff;
//$search-btn-color-hover : white;
//$search-btn-background-hover :#1890ff;
//$search-btn-border-hover :#1890ff;

//$search-secondary-background :white;
//$search-secondary-border :#40a9ff;


//$link-btn-color : #1890ff;
//$link-btn-background : white;

//dropdown
//$dropdown-color:#1D3C56;


// tabStyles
//$primaryColor : #1D3C56;
$tabLinkFontSize: 16px;
$tabPillFontSize: 14px;